{% extends "layout.html" %}

{% block content %}

    <h1>Import d'attributs</h1>
	<a href="/create"><button type="button" class="btn btn-outline-info btn-lg"><i class="fas fa-pen"></i> Créer vecteur</button></a>
	<a href="/create/form"><button type="button" class="btn btn-outline-info btn-lg"><i class="fas fa-pen"></i> Créer (formulaire)</button></a>
	    <h2>Côté utilisateur :</h2>
			<a href="/profile"><button type="button" class="btn btn-outline-info btn-lg"><i class="far fa-user-circle"></i> Métriques utilisateur</button></a>
			<a href="/search"><button type="button" class="btn btn-outline-info btn-lg"><i class="fab fa-searchengin"></i> Recherche brute sur 10 résultats (JSON)</button></a>
			<a href="/group/stats">
				<button type="button" class="btn btn-outline-info btn-lg">
					<i class="fas fa-chart-pie"></i> Statistiques brutes sur un groupe de travail (JSON)</button>
			</a>
			<br><hr>
		<h2>Côté développeur :</h2>
			<p> Voici le token obtenu :</p><pre>{{ token_oauth }}</pre>
			<br>
			<a href="/automatic_refresh"><button type="button" class="btn btn-outline-info btn-lg"><i class="fab fa-keycdn"></i> Token oAuth2 : rafraîchisement automatique</button></a>
			<a href="/manual_refresh"><button type="button" class="btn btn-outline-info btn-lg"><i class="fas fa-key"></i> Token oAuth2 : rafraîchisement manuel</button></a>

{% endblock %}
